pdf2image
python-pptx
pypdf
PyMuPDF
pyinstaller
tkinterdnd2
customtkinter
pillow
docx2pdf
pywin32
rapidocr_onnxruntime
rapid-layout
rapid-table
opencc-python-reimplemented
beautifulsoup4
opencv-python
pdf2docx
pdfplumber
pandas
openpyxl
